.env
__pycache__/*
**/**.pyc
.DS_Store
.vscode/
venv/
.pytest_cache/
.coverage
.coverage.*
.coverage.xml
.coverage.xml.*
.coverage.xml.*.*
.coverage.xml.*.*.*
.coverage.xml.*.*.*.*
:memory:/chunks.lance